xterm*savelines: 4096
xterm*faceName: DejaVu Sans Mono:size=12:antialias=true
xterm*rightScrollBar: true
xterm*ScrollBar: true
;xterm*font: *-fixed-*-*-*-18-*
xterm*termName: XTerm
xterm*xftAntialias: true
xterm*background: #3f3f3f
xterm*foreground: #dcdccc
xterm*cursorColor: #aaaaaa
xterm*colorUL: #366060
xterm*underlineColor: #dfaf8f
xterm*color0: #3f3f3f
xterm*color1: #cc9393
xterm*color2: #7f9f7f
xterm*color3: #d0bf8f
xterm*color4: #6ca0a3
xterm*color5: #dc8cc3
xterm*color6: #93e0e3
xterm*color7: #dcdccc
xterm*color8: #000000
xterm*color9: #dca3a3
xterm*color10: #bfebbf
xterm*color11: #f0dfaf
xterm*color12: #8cd0d3
xterm*color13: #dc8cc3
xterm*color14: #93e0e3
xterm*color15: #ffffff
